@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

body
    //background-color: #f0f0f0

.navbar {
    border-radius: 0 !important;
    border: none !important;
}

.navbar-brand 
    font-weight: bold;
    color: #fff !important

.pre-header {
    background-color: #222;
    padding-top: 20px;
    color: #9d9d9d !important;
}

carousel-item(height) {
    .item {
        height: height !important;
        overflow: hidden;
        img {
            max-height: 100% !important;
            max-width: 100% !important;
        }
    } 
}

.carousel-main {
    margin-bottom: 20px;
    width: 66.66%;
    margin: auto;
    carousel-item(500px);
}

.carousel-secondary {
    width: 100%;
    carousel-item(800px);  
}

.flex {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.page-header h1 {
    font-size: 25px !important;    
}

.img-mapper-tooltip {
    position: absolute;    
}

.modal-img {
    width: 100%
}

.anchor {
    animation-name: blink;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    0% { 
        background-color: rgba(255,255,255,1)
    }
    100% { 
        background-color: rgba(255,255,0,.4)
    }
}

.maped-img {
    width: 100%;    
}

main {
    margin-bottom: 50px;    
}

.cable {
    height: 120px !important;    
}

.faq {
    p, li {
        font-size: 18px !important;    
    }
    img {
        display: block;
        margin: 10px auto;
        max-width: 100%;
    }
}

.structure {
    p {
        font-size: 18px;
    }
    img {
        max-height: 100px;
    }    
}
