@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

body
    background-color: #f0f0f0

.navbar {
    border-radius: 0 !important;
    border: none !important;
}

.navbar-brand 
    font-weight: bold;
    color: #fff !important

.pre-header {
    background-color: #222;
    padding-top: 20px;
    color: #9d9d9d !important;
}

.carousel {
    margin-bottom: 100vh;
    .item {
        height: 80vh !important;
        overflow: hidden;
        img {
            min-width: 100% !important;
            min-height: 100% !important;
        }
    } 
}
